# Build Frontend when change

name: Build Frontend

on:
  push:
    branches: [ master ]
    paths:
    - 'frontend/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: checkout main branch
      uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '16'
    - name: build frontend
      run: npm ci && npm run build
      working-directory: ./frontend
    - name: deploy site
      run: npm ci && npm run deploy
      env:
        DEPLOY_TYPE: FRONTEND
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: deploy to cloudflare
      uses: wei/curl@v1
      with:
        args: -X POST ${{ secrets.CLOUDFLARE_WEBHOOK }}
